Django==4.2.7
psycopg2-binary==2.9.7
dj-database-url==2.1.0
python-dotenv==1.0.0
djangorestframework==3.14.0
django-cors-headers==4.3.1
channels==4.0.0
channels-redis==4.1.0
redis==4.6.0
gunicorn==21.2.0
whitenoise==6.6.0
Pillow==10.1.0
daphne==4.0.0
djangorestframework-api-key==2.3.0
dj-rest-auth==5.0.2
django-allauth==0.57.0