channels==4.3.1
channels-redis==4.3.0
daphne==4.1.0
dj_database_url==3.0.1
Django==5.0.7
djangorestframework==3.16.1
djangorestframework_api_key==3.1.0
langchain_core==0.3.77
langchain_google_genai==2.1.12
pydantic==2.11.9
python-dotenv==1.1.1
python_dateutil==2.9.0.post0
Requests==2.32.5
xhtml2pdf==0.2.17