option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend.core.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings_aws
    PYTHONPATH: /var/app/current/backend:$PYTHONPATH
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: backend/staticfiles/

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && cd backend && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && cd backend && python manage.py collectstatic --noinput"