option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings_aws
    SECRET_KEY: "sua-secret-key-aqui"
    DEBUG: "False"
    DATABASE_URL: "postgresql://postgres:senha@endpoint:5432/postgres"
    SENDGRID_API_KEY: "sua-sendgrid-key"
    DEFAULT_FROM_EMAIL: "nao-responda@clinicalimale.com"